* {
    margin: 0px;
}

body {
    background: url(./background.png) center/cover
}

h1 {
    text-decoration: underline;
    text-align: justify;
    font-weight: bolder;
    color: yellow;
    text-decoration-color: blueviolet;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 15%;
}

h2 {
    color: red;
    font-family: serif;
    text-decoration: underline;
    text-decoration-color: blue;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 40px;
}

a {
    text-align: justify;
    margin-left: 200px;
}

p {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    color: antiquewhite;
}

.image {
    height: 100px;
    margin-left: 70%;
    position: absolute;
    z-index: -1;
    margin-top: 20px;
}

.imagegithub {
    height: 150px;
    border-radius: 50%;
    margin-left: 70%;
    z-index: -1;
    position: absolute;
}

li {
    margin-top: 10px;
    margin-left: 25%;
    color: antiquewhite;
}

.github {
    margin-top: 50px;
}

.lien {
    margin-left: 37%;
    color: blue;
}

.tutohtml {
    margin-top: 50px;
}

.vidéo {
    margin-left: 40%;
    min-height: 300px;
    width: min-content;
}

.fin {
    margin-top: 20px;
}

.jsp {
    margin-top: 70px;
}
