* {
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, #4917d6, #0078ff, #00aaff, #00d1ca, #00f087);
}

h1 {
    text-decoration: underline;
    text-align: justify;
    font-weight: bolder;
    text-decoration-color: blueviolet;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 35%;
    
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );

background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );

color:transparent;

border: 2px dotted white;

-webkit-background-clip: text;

background-clip: text;
}

h2 {
    color: red;
    font-family: serif;
    text-decoration: underline;
    text-decoration-color: blue;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 40px;
}

a {
    text-align: justify;
    margin-left: 200px;
}

p {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    color: antiquewhite;
}

.faq {
    color: black;

.image {
    height: 100px;
    margin-left: 70%;
    position: absolute;
    z-index: -1;
    margin-top: 20px;
}

.imagegithub {
    height: 150px;
    border-radius: 50%;
    margin-left: 70%;
    z-index: -1;
    position: absolute;
}

li {
    margin-top: 10px;
    margin-left: 30%;
    color: antiquewhite;
}

.github {
    margin-top: 50px;
}

.lien {
    margin-left: 37%;
    color: blue;
}

.tutohtml {
    margin-top: 50px;
}

.vidéo {
    margin-left: 40%;
    min-height: 300px;
    width: min-content;
}

.fin {
    margin-top: 20px;
}

.jsp {
    margin-top: 70px;
}
